html{
    background-color:gray;}
    h1{
        background-color: rgb(119, 114, 114);
        color: darkred;
        text-align: center;}
        h2{background-color: rgb(119, 114, 114);
            color: darkgreen;}
            

        }